<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/read" method="post">
        <textarea name="wordsearch" id="wordsearch-input" cols="50" rows="20"></textarea>
        <label for="target-words">Words to Find: </label>
        <input type="text" name="target-words">
        <button type="submit">Submit</button>
    </form>
</body>
</html>